@import 'bootstrap/dist/css/bootstrap.min.css';

.container{
    width: 700px;
    height: 500px;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;

}
