.notas {
  position: relative;
}

.input-field-button {
  position: relative;
  width: 30px;
  height: 50px;
  background-color: transparent /*rgb(176, 205, 255)*/;
  outline: none;
  font-size: 20px;
  color: rgb(176, 205, 255);
  border: 2px solid rgba(176, 205, 255, 0.2);
  border-radius: 40px;
}

.btn-1{
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 5px;
  border: 1px;
  border-radius: 80px;
  font-size: 30px;
  color: rgb(176, 205, 255);
  background-color: rgb(255, 0, 0);
}

.btn-2{
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border: 1px;
    border-radius: 80px;
    font-size: 30px;
    color: rgb(176, 205, 255);
    background-color: rgb(0, 255, 0);
}

.btn-3 {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border: 1px;
    border-radius: 80px;
    font-size: 30px;
    color: rgb(176, 205, 255);
    background-color: rgb(0, 0, 255);
}

.btn-4 {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border: 1px;
    border-radius: 80px;
    font-size: 30px;
    color: rgb(176, 205, 255);
    background-color: rgb(0, 255, 255);
}
